<?xml version="1.0"?>

<!--
 * @author      Andreas Knollmann
 * @copyright   Copyright (c) 2014-2022 Tofex UG (http://www.tofex.de)
 * @license     http://www.opensource.org/licenses/mit-license.php MIT
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="tasks" translate="label" sortOrder="201" class="tofex-logo">
            <label>Tasks</label>
        </tab>
        <section id="task_general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>General</label>
            <tab>tasks</tab>
            <resource>Tofex_Task::config_tofextask</resource>
            <group id="settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Settings</label>
                <field id="max_memory" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Max Memory</label>
                    <comment>In MB</comment>
                </field>
                <field id="wait_for_predecessor" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Wait for Predecessor</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="logging" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Logging</label>
                <field id="log_level" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Log Level</label>
                    <source_model>Tofex\Task\Model\Config\Source\LogLevel</source_model>
                </field>
                <field id="log_warn_as_error" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Log Warning as Error</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="summary_success" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Success Summary</label>
                <field id="send" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Send</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sender" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                    <depends>
                        <field id="send">1</field>
                    </depends>
                </field>
                <field id="recipients" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Recipients</label>
                    <comment>Divided by semicolon</comment>
                    <depends>
                        <field id="send">1</field>
                    </depends>
                </field>
                <field id="copy_recipients" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Copy Recipients</label>
                    <comment>Divided by semicolon</comment>
                    <depends>
                        <field id="send">1</field>
                    </depends>
                </field>
                <field id="blind_copy_recipients" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Blind Copy Recipients</label>
                    <comment>Divided by semicolon</comment>
                    <depends>
                        <field id="send">1</field>
                    </depends>
                </field>
                <field id="subject" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Subject</label>
                    <depends>
                        <field id="send">1</field>
                    </depends>
                </field>
            </group>
            <group id="summary_error" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Error Summary</label>
                <field id="send" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Send</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sender" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                    <depends>
                        <field id="send">1</field>
                    </depends>
                </field>
                <field id="recipients" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Recipients</label>
                    <comment>Divided by semicolon</comment>
                    <depends>
                        <field id="send">1</field>
                    </depends>
                </field>
                <field id="copy_recipients" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Copy Recipients</label>
                    <comment>Divided by semicolon</comment>
                    <depends>
                        <field id="send">1</field>
                    </depends>
                </field>
                <field id="blind_copy_recipients" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Blind Copy Recipients</label>
                    <comment>Divided by semicolon</comment>
                    <depends>
                        <field id="send">1</field>
                    </depends>
                </field>
                <field id="subject" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Subject</label>
                    <depends>
                        <field id="send">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
